// nextflow.config
plugins {
  id 'nextfuse@1.1.0'  
}

process {
  executor = 'domino'
  withLabel:process_low {
    ext.hardwareTierName = 'Small'
  }
  container = 'ubuntu:20.04'
  scratch = false
  
  // Ensure proper error handling
  errorStrategy = 'retry'
  maxRetries = 1
}

// Set work directory explicitly for Domino
workDir = '/mnt/data/nextflow-demo/work/'

domino {
  hardwareTierId = 'small-k8s'
  nextfuseMonitor {
    enabled = 'false'
  }

imageMap = [
    'ubuntu:20.04':'DSE Py3.10 R4.4 with Nextflow',
   ]

}

